{% extends 'base.html' %}
{% block content %}
<div>
    <div class="container">
        <div class="row"><br><br><br>
            <div class="col-md-12">
                        <div class="shadow card">
                            <div class="card-body"><br><br><br><br><br><br><br><br><br>
                                <center>
                                    <h1 class="card-title"><i>Welcome to our College Store Page.  </i></h1><br><br>
                                    <button><a href="{% url 'schoolweb:form' %}"><b>VISIT</b></a></button><br><br><br><br><br><br><br><br><br>
                                </center>
                            </div>
                        </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
